# Dependency directories
node_modules/

# Compilation outputs
dist/
build/
.next/
out/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# Editors & IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System OS Files
.DS_Store
Thumbs.db

# Cache & Temporary files
.cache/
tmp/
.eslintcache
.parcel-cache
.turbo/
